body {
  background-color: #fceed1;
}

.App {
  text-align: center;
  margin: 25px;
}

.App h1 {
  color: #c80e13;
}

.loading {
  text-align: center;
  color: #80ced6;
}

.search-bar {
  padding: 5px;
  width: 40vw;
  border: silver 1px solid;
  border-radius: 2px;
}

.search-button {
  padding: 6px;
  /*border: 1px solid;*/
  border-style: none;
  background-color: #4CAF50;
  color: white;
  width: 10vw;
  cursor: pointer;
}



.recipe-image {
  width: 150px;
  height: auto;
}

.ingredients {
  text-align: left;
}

.recipes {
  display: flex;
  flex-flow: row wrap;
}

.recipe-box {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 20px;
  /*border: silver 2px solid;*/
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  margin-top: 25px;
}


@media (prefers-reduced-motion: no-preference) {
  .fa-spinner {
    animation: Load-spin infinite 2s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes Load-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
